In [1]:

import pandas as pd 

dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_600_companies#H')
print(f'there are {len(dfs)} tables')

there are 2 tables

In [2]:
dfs[0].head()

,Symbol,Company,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings,CIK
0,AAP,"Advance Auto Parts, Inc.",Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",view,1158449
1,AAT,American Assets Trust,Real Estate,Diversified REITs,"San Diego, California",view,1500217
2,ABCB,Ameris Bancorp,Financials,Regional Banks,"Atlanta, Georgia",view,351569
3,ABG,Asbury Automotive Group,Consumer Discretionary,Automotive Retail,"Duluth, Georgia",view,1144980
4,ABM,"ABM Industries, Inc.",Industrials,Environmental & Facilities Services,"New York City, New York",view,771497

In [3]:
dfs[1].head()

             Date  Added                          Removed  \
             Date Ticker                 Security  Ticker
0  April 17, 2025   STRL  Sterling Infrastructure    PDCO
1  April 16, 2025    ACT           Enact Holdings     SWI
2   April 2, 2025   ANGI                Angi Inc.     ODP
3  March 24, 2025    TFX                 Teleflex     VFC
4  March 24, 2025     CE                 Celanese     ALK

                                                                   Reason
              Security                                             Reason
0  Patterson Companies  STRL replaced PDCO after it was acquired by Pa...
1           SolarWinds  ACT replaced SWI after it was acquired by Turn...
2  The ODP Corporation  ANGI was spun off from IAC Inc. and replaced O...
3       VF Corporation  TFX was moved from the S&P 500 as it was more ...
4     Alaska Air Group  CE was moved from the S&P 500 as it was more r...

In [4]:
sp600_small_cap_raw = dfs[0]
sp600_small_cap_change_raw = dfs[1]

In [5]:
sp600_small_cap_raw.head()

,Symbol,Company,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings,CIK
0,AAP,"Advance Auto Parts, Inc.",Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",view,1158449
1,AAT,American Assets Trust,Real Estate,Diversified REITs,"San Diego, California",view,1500217
2,ABCB,Ameris Bancorp,Financials,Regional Banks,"Atlanta, Georgia",view,351569
3,ABG,Asbury Automotive Group,Consumer Discretionary,Automotive Retail,"Duluth, Georgia",view,1144980
4,ABM,"ABM Industries, Inc.",Industrials,Environmental & Facilities Services,"New York City, New York",view,771497

In [6]:
sp600_small_cap_raw.tail()

,Symbol,Company,GICS Sector,GICS Sub-Industry,Headquarters Location,SEC filings,CIK
597,XRX,Xerox,Information Technology,"Technology Hardware, Storage & Peripherals","Norwalk, Connecticut",view,1770450
598,YELP,"Yelp, Inc.",Communication Services,Interactive Media & Services,"San Francisco, California",view,1345016
599,YOU,"Clear Secure, Inc.",Information Technology,Application Software,"New York City, New York",view,1856314
600,ZD,Ziff Davis,Communication Services,Advertising,"New York City, New York",view,1084048
601,ZWS,Zurn Elkay Water Solutions Corp.,Industrials,Industrial Machinery & Supplies & Components,"Milwaukee, Wisconsin",view,1439288

In [7]:
sp600_small_cap_raw['SEC filings'].describe()

count      602
unique       1
top       view
freq       602
Name: SEC filings, dtype: object

In [8]:
sp600_small_cap = sp600_small_cap_raw.drop(columns=['SEC filings'])
sp600_small_cap.head()

,Symbol,Company,GICS Sector,GICS Sub-Industry,Headquarters Location,CIK
0,AAP,"Advance Auto Parts, Inc.",Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",1158449
1,AAT,American Assets Trust,Real Estate,Diversified REITs,"San Diego, California",1500217
2,ABCB,Ameris Bancorp,Financials,Regional Banks,"Atlanta, Georgia",351569
3,ABG,Asbury Automotive Group,Consumer Discretionary,Automotive Retail,"Duluth, Georgia",1144980
4,ABM,"ABM Industries, Inc.",Industrials,Environmental & Facilities Services,"New York City, New York",771497

In [9]:
sp600_small_cap_change_raw.head()

             Date  Added                          Removed  \
             Date Ticker                 Security  Ticker
0  April 17, 2025   STRL  Sterling Infrastructure    PDCO
1  April 16, 2025    ACT           Enact Holdings     SWI
2   April 2, 2025   ANGI                Angi Inc.     ODP
3  March 24, 2025    TFX                 Teleflex     VFC
4  March 24, 2025     CE                 Celanese     ALK

                                                                   Reason
              Security                                             Reason
0  Patterson Companies  STRL replaced PDCO after it was acquired by Pa...
1           SolarWinds  ACT replaced SWI after it was acquired by Turn...
2  The ODP Corporation  ANGI was spun off from IAC Inc. and replaced O...
3       VF Corporation  TFX was moved from the S&P 500 as it was more ...
4     Alaska Air Group  CE was moved from the S&P 500 as it was more r...

In [10]:
sp600_small_cap.to_csv('index/sp600_small_cap.csv', index=False)

In [11]:
sp600_small_cap_change_raw.to_csv('index/sp600_small_cap_change.csv', index=False)

In [12]:
from sqlalchemy.orm import Session

from src.utils import get_db_engine
from src.create_tables import SP600SmallCap


engine = get_db_engine()
session = Session(engine)

count = session.query(SP600SmallCap).count()
print(f'there are {count} rows in table sp600_small_cap.')

there are 0 rows in table sp600_small_cap.

In [13]:
for column in SP600SmallCap.__table__.columns:
    print(f'Column: {column.name}, Type: {column.type}, Nullable: {column.nullable}')

Column: id, Type: INTEGER, Nullable: False
Column: ticker, Type: VARCHAR(10), Nullable: False
Column: company_name, Type: VARCHAR(100), Nullable: False
Column: sector, Type: VARCHAR(100), Nullable: False
Column: sub_industry, Type: VARCHAR(100), Nullable: False
Column: headquarters, Type: VARCHAR(100), Nullable: False
Column: cik, Type: INTEGER, Nullable: False

In [14]:
sp600_small_cap = sp600_small_cap.rename(columns={'Symbol': 'ticker',
                                                  'Company': 'company_name',
                                                  'GICS Sector': 'sector',
                                                  'GICS Sub-Industry': 'sub_industry',
                                                  'Headquarters Location': 'headquarters',
                                                  'CIK': 'cik'})
sp600_small_cap.head()

,ticker,company_name,sector,sub_industry,headquarters,cik
0,AAP,"Advance Auto Parts, Inc.",Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",1158449
1,AAT,American Assets Trust,Real Estate,Diversified REITs,"San Diego, California",1500217
2,ABCB,Ameris Bancorp,Financials,Regional Banks,"Atlanta, Georgia",351569
3,ABG,Asbury Automotive Group,Consumer Discretionary,Automotive Retail,"Duluth, Georgia",1144980
4,ABM,"ABM Industries, Inc.",Industrials,Environmental & Facilities Services,"New York City, New York",771497

In [15]:
sp600_small_cap['company_name'].apply(len).max()

np.int64(57)

In [16]:
sp600_small_cap.dtypes

ticker          object
company_name    object
sector          object
sub_industry    object
headquarters    object
cik              int64
dtype: object

In [17]:
for c in sp600_small_cap.columns.to_list():
    if sp600_small_cap[c].dtype == object:
        print(f'column: {c}, max length: {sp600_small_cap[c].apply(len).max()}')

column: ticker, max length: 6
column: company_name, max length: 57
column: sector, max length: 22
column: sub_industry, max length: 55
column: headquarters, max length: 39

In [18]:
from sqlalchemy.types import Integer, String

sp600_small_cap.to_sql(name='sp600_small_cap', con=engine, if_exists='append', index=False, 
             dtype={'ticker': String(10), 
                    'company_name': String(100), 
                    'sector': String(100), 
                    'sub_industry': String(100),
                    'headquarters': String(100),
                    'cik': Integer()}) # type: ignore

-1