In [16]:
import pandas as pd

***collect sp500 index***

In [17]:
list_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
print(f'there are {len(list_df)} dataframe.')

there are 2 dataframe.

In [18]:
sp500 = list_df[0]
sp500.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [19]:
symbols = sp500['Symbol'].to_list()
symbols = [str(s) for s in symbols]

for s in symbols:
    if '.' in s:
        print(s)

BRK.B
BF.B

**NOTE: BRK.B is not the valid symbol, should be BRK-B instead.**

In [20]:
sp500['Symbol'] = sp500['Symbol'].apply(lambda x: str(x).replace('.', '-'))
for s in sp500['Symbol'].to_list():
    if '-' in s:
        print(s)

BRK-B
BF-B

In [21]:
sp500_changes = list_df[1]
sp500_changes.head()

                Date  Added                           Removed  \
                Date Ticker                  Security  Ticker
0     March 24, 2025   DASH                  DoorDash     BWA
1     March 24, 2025    TKO        TKO Group Holdings     TFX
2     March 24, 2025    WSM     Williams-Sonoma, Inc.      CE
3     March 24, 2025    EXE             Expand Energy     FMC
4  December 23, 2024    APO  Apollo Global Management    QRVO

                                              Reason
          Security                            Reason
0       BorgWarner  Market capitalization change.[4]
1         Teleflex  Market capitalization change.[4]
2         Celanese  Market capitalization change.[4]
3  FMC Corporation  Market capitalization change.[4]
4            Qorvo  Market capitalization change.[5]

store the index lists

In [22]:
sp500.to_csv('./index/sp500.csv', index = False)

In [23]:
sp500_changes.to_csv('./index/sp500_changes.csv', index = False)